@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

/*Header Section CSS*/
.header{
    background-color: #1f2937;
    max-width: 100%;
}

header {
    padding: 0 auto;
    height: 100px;
    background-color: #1f2937;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9f1f8;
}

.navbar-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;

    font-size: 18px;
    color: #e5e7eb;
}

/*Hero Section CSS*/
.section-hero{
    background-color: #1f2937;
    height: 435px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width:1400px;
    margin: auto auto;
}


.grid {
    display: grid;
    gap: 50px;
}

.grid-two-column{
    grid-template-columns: repeat(2, 1fr);
}

.hero-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-text{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-img {
    max-width: 90%;
}

/*Information Section cSS*/
.section-info{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-four-column{
    grid-template-columns: repeat(4, 1fr);
}

.small-container {
    max-width:1200px;
    margin: auto auto;
}

img {
    margin: auto;
    display: block;
}

h2{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

p.info {
    text-align: center;
}

/*Blockquote CSS*/
.section-quote {
    height:430px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

blockquote{
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
}

.section-quote .author {
    text-align: right;
    font-weight: bold;
}


/*Call to Action CSS*/
.section-action{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 1400px;
    background-color: #3B82F6;
    border-radius: 10px;
}

.grid-2-1-column{
    grid-template-columns: 2fr 1fr;
    padding: 50px 100px;
    justify-content: space-between;
}

.grid-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-2 h3{
    font-size: 24px;
    color: #F9FAF8;
}

.grid-2 p{
    font-size: 18px;
    color: #E5E7EB;
}

.grid-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Footer CSS*/
footer{
    height: 100px;
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
}